html {
    background-color:#282527;
    background-image:url("i/starbg.png");
}

.box {
    background: linear-gradient(#ffb7ed, #c97eb7);
    color:#000;
    position: absolute;
    left: 22%;
    padding-top: 50px;
    padding: 5px;
    border-style:groove;
    border-color:#c98dba;
}

.box-contents {
    text-align: center;
    background-color:#fff;
    color:#3A3739;
    padding: 5px;

    
}

.box img {
    height: 2%;
    width: 2%;
}

.box-contents img {
    height: 20%;
    width: 20%;
    border-style:groove;
    border-color:#c98dba;
    background: linear-gradient(#3c69ff, #291485);
}